.Header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-color);
  padding: 15px;
  padding-bottom: 10px;
  position: relative;
}
.logo-container {
  color: rgb(33,37,41);
}
.logo {
  font-size: 5rem;
  font-weight: 500; 
}
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -10px;
  color: rgb(33,37,41);
}
.title-container h2 {
  font-size: 2.4rem;
  font-weight: 400;
}
.doctor {
  color: var(--secondary-color);
}
.burger-menu {
  position: absolute;
  right: 25px;
  bottom: 27px;
  height: 37px;
}
.burger-button {
  line-height: 8px;
  text-align: center;
  padding-bottom: 10px;
  margin-left: 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 0;
}

.burger-button::after {
  display: none;
}

.item-menu-button {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 7rem;
  margin-bottom: 10px;
  font-weight: 100;
  color: rgb(51, 49, 49);
  justify-self: center;
}

.dropdown-menu {
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  box-shadow: 1px 1px 100px 50px var(--primary-color);
}

.dropdown-item {
  display: flex;
  justify-content: center;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: (var(--primary-color));
}
.dropdown-item:hover {
  background-color: var(--primary-color);
}