.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}




.hipoglicemia-input {
  display: flex;
  align-items: center;
  margin: 7px;
  margin-bottom: 0;
  width: 250px;
  font-size: 1.6rem;
}

.hipoglicemia-input input {
  width: 4rem;
  height: 4rem;
  margin: 10px;
}

.hipoglicemia-input label {
  text-align: center;
}

.resultados-container {
  width: 280px;
  padding: 20px;
  margin: 0 10px;
  font-size: 2rem;
  color: var(--darkest-black);
  border: 2px solid var(--secondary-color);
  box-shadow: 0px 8px 9px 0px #7d7d7d;
  background-color: #f7fcff;
}

.resultados-title {
  font-weight: bold;
  font-size: 2.4rem;
}

.resultados-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
}
.resultados-list li {
  margin: 10px 0;
}
.otras-dextrosas-container {
  background-color: rgb(170, 167, 167);
  border-radius: 10px;
  padding: 20px;
  margin: 0 5px;
  margin-bottom: 20px;
  font-size: 1.8rem;
}
.text-container {
  margin: 10px 10px;
  padding: 10px;
  max-width: 350px;
  text-align: center;
  font-size: 1.5rem;
}


