:root {
  --page-background: rgb(4, 12, 26);
  --primary-color: rgb(238, 255, 255);
  /* --secondary-color: rgb(0, 141, 159); */
  --secondary-color: rgb(17, 211, 201);
  --just-white: #fff;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  min-width: 320px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.calc-button {
  padding: 10px 20px;
  margin: 5px;
  background-color: rgba(131, 255, 175, 0.945);
  border: 1px solid black;
  border-radius: 5px;
}