:root {
  --page-background: rgb(4, 12, 26);
  --primary-color: rgb(238, 255, 255);
  --secondary-color: rgb(17, 211, 201);
  --just-white: rgb(251, 251, 253);
  --input-background: rgb(219, 228, 230);
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  min-width: 320px;
}

body {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

.success-button {
  padding: 10px 20px;
  margin: 5px;
  background-color: rgba(131, 255, 175, 0.945);
  border: 1px solid rgba(0, 0, 0, 0.5);
  /* border-radius: 5px; */
}

.form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0;
}
.inputs {
  width: 200px;
  height: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: rgb(219, 228, 230);
  border: none;
}
